$bodercolor:#F3EFCC;
$primarycolor:white;
*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
html
{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.btn 
{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $primarycolor;
    cursor: pointer;
}
.btn-active
{ 
    background-color: rgb(18, 223, 223);
    transform:scale(130%);
    top:0;
    left:0;
}
i 
{
    cursor: pointer;
}
img 
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: inherit;
}
.line
{
    position: absolute;
    top:0%;
    left: 0;
    height: 100%;
    transform:scale(130%);
    background-color:#FDFF8F;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}
.wrapper
{
    max-width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(126, 126, 126, 0.3),rgba(126, 126, 126, 0.3)), url(../img/anh1.jfif) no-repeat;
    background-size: cover;   
    overflow: hidden;  
}

.logo
{
    position: absolute;
    top:0%;
    left: 0%;
    width: 10%;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid $bodercolor;   
    z-index: 2; 
    #logo 
    {
        position: absolute;
        top:5%;
        transform:scale(80%);
    }
    img
    {
        height: auto;
    }
} 
.fa-bars
{
    opacity: 0;
}
.menu
{
    position: absolute;
    left: 15%;
    top:10%;
    display: flex;
    gap:3rem;
    li 
    {
        z-index: 4;   
    }
    a
    {
        color: $primarycolor;
        font-size: 1.5rem;
        font-weight: 600;
        position: relative; 
                  
    }
  
}
.active>a
{
    color: #000;
}
.content
{
    width: 50%;
    position: absolute;
    top:50%;
    left: 10%;
    margin-left: 5rem;
    transform: translateY(-50%);
    color: $primarycolor;
    &-heading
    {
        margin-bottom: 5rem;
        h1 
        {
            text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
        }
        h1:first-child
        {
            font-size: 5rem;
        }
        h1:nth-child(2)
        {
            font-size: 10rem;
        }
    }
}
.place
{
    position: absolute;
    top:0%;
    right: 0%;
    width: 30%;
    height: 100%;
    background-color: rgba(207, 205, 205, 0.2);
    background-blend-mode:overlay;
    display: flex;
    gap:20rem;
    flex-direction: column;
    z-index: 2;
    &-search
    {
        position: absolute;
        left: 10%;
        top:10%;
        transform:translateY(-50%);
        display: flex;
        align-items: flex-end;
        gap:15rem;
        position: relative;
        div 
        {
            
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $bodercolor;    
            input 
            {
                border: 0em;
                outline: none;
                height:3.5rem;
                background-color: inherit;
                color: white;          
            } 
            ::placeholder
            {
                font-size: 1.5rem;
                color: white;
            }  
            input 
            {
                margin-left: 1rem;
                width: 12rem;
            }     
        }
        i 
        {
            font-size: 3rem;
            color: $primarycolor;
        }
        
    }
    &-heading
    {
        left:10%;
        position: relative;
        line-height: 3rem;
        h2 
        {
            font-size: 3rem;
            color: white;
            font-weight:200;
            position: relative;    
        }
        h2::after
        {
            content: "";
            width: 50%;
            height: 4px;
            border-bottom: 1px solid $primarycolor;
            position: absolute;
            bottom: -50%;
            left: 0;
        }
      
    }
    &-container
    {
        width: 110%;
        height:100%;
        position: relative;
        right: 10%;
        bottom:5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
    }     
    &-list
    {
            display: flex;
            height: 100%;
            gap:5%;         
            
            overflow:visible;
            transition: all 0.5s linear;
            &-item
            {   
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                position: relative;
                min-width:40%;
                flex: 0 0 40%;
                a 
                {
                    width: 100%;
                    height: 100%;  
                    border: 3px solid #F3EFCC;
                    border-radius: inherit;
                    // box-sizing: border-box;
                }
                &_infor
                {
                    padding-top:1rem;
                    z-index: 2;
                    gap:0.5rem;
                    color: $primarycolor;
                    font-size:1.5rem;
                    p 
                    {
                        width:100%;
                        word-wrap: break-word;
                        font-weight: 700;
                        
                    }
                    span 
                    {
                        color:rgb(9, 250, 69);
                        
                    }
                }             
            }
            
    }
       
    &-btn
    {
        
        width: 70%;
        margin: 0 auto ;
        padding-top: 3rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-circle
        {
            display: flex;
            gap:2rem;
            position: relative;
        }
        i 
        {
            font-size: 3rem;
            color: $primarycolor;
        }
    }
}
.footer
{
    position: absolute;
    bottom: 0;
    left:10%;
    width: 60%;
    background-color: rgba(65, 62, 62, 0.8);
    min-height: 5rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-contact
    {
        margin-left: 3rem;
        display: flex;
        gap: 3rem;
        i 
        {
            font-size: 3rem;
            color: $primarycolor;
        }
    }
    &-design
    {
        width: 50%;
        display: flex;
        gap:3rem;
        align-items: center;
        img 
        {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
        }
        p 
        {
            color: $primarycolor;
        }
    }
}
//responsive
@mixin maxw ($width)
{
    @media screen and (max-width:$width)
    { 
        @content;
    }
}
//
@include maxw(19200px)
{
    .menu
    {
        a 
        {
            font-size:2rem;
        }
    }
}
@include maxw(1600px)
{
    .place
    {
        gap:15rem;
    }
    .menu
    {
        a 
        {
            font-size:1.5rem;
        }
    }
}
@include maxw(1440px)
{
    .menu
    {
        a 
        {
            font-size:1.5rem;
        }
    }
    .place
    {
        &-search
        {
            gap:7rem;
            i 
            {
                font-size:2rem;
            }
        }
        &-heading
        {
            h2
            {
                font-size:2rem;

            }
        }
        &-list-item_infor 
        {
            p 
            {
                font-size:1rem;
            }
        }
    }
    
}
@include maxw(1280px)
{
    .menu
    {
        a 
        {
            font-size:1.3rem;
        }
    }   
}
@include maxw(1024px)
{
    .menu
    {
       top:8%;
    }   
}
@include maxw(1024px)
{
    .menu
    {
        a 
        {
            font-size:1rem;
        }
    } 
    .place 
    {

        &-search
        {
            gap:3rem;
            i 
            {
                font-size:1.5rem;
            }
            input::placeholder {
                font-size:1.5rem;
            }
        }
        &-heading
        {
            h2
            {
                font-size:1rem;
                
            }
        }
        
        &-list-item_infor 
        {
            p 
            {
                font-size:0.8rem;
            }
        }
        &-btn 
        {
            i 
            {

                font-size: 1.5rem;
            }
        }  
    }
    .btn {
        width:1rem;
        height:1rem;
    }
    .content 
    {
        &-heading
        {
            margin-bottom: 3rem;
            h1:first-child 
            {   
                font-size: 2rem;
            }
            h1:nth-child(2)
            {   
                font-size: 3rem;
            }
        }
        h2 
        { 
            font-size:1rem;
        }
    }
    .place-list-item 
    {
        min-width: 50%;
        height:90%;
    }
}
