* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.btn-active {
  background-color: #12dfdf;
  -webkit-transform: scale(130%);
          transform: scale(130%);
  top: 0;
  left: 0;
}

i {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.line {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  -webkit-transform: scale(130%);
          transform: scale(130%);
  background-color: #FDFF8F;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(126, 126, 126, 0.3)), to(rgba(126, 126, 126, 0.3))), url(../img/anh1.jfif) no-repeat;
  background: linear-gradient(rgba(126, 126, 126, 0.3), rgba(126, 126, 126, 0.3)), url(../img/anh1.jfif) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 100%;
  margin: 0 auto;
  border-right: 1px solid #F3EFCC;
  z-index: 2;
}

.logo #logo {
  position: absolute;
  top: 5%;
  -webkit-transform: scale(80%);
          transform: scale(80%);
}

.logo img {
  height: auto;
}

.fa-bars {
  opacity: 0;
}

.menu {
  position: absolute;
  left: 15%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.menu li {
  z-index: 4;
}

.menu a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.active > a {
  color: #000;
}

.content {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-left: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
}

.content-heading {
  margin-bottom: 5rem;
}

.content-heading h1 {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.content-heading h1:first-child {
  font-size: 5rem;
}

.content-heading h1:nth-child(2) {
  font-size: 10rem;
}

.place {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 30%;
  height: 100%;
  background-color: rgba(207, 205, 205, 0.2);
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.place-search {
  position: absolute;
  left: 10%;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15rem;
  position: relative;
}

.place-search div {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #F3EFCC;
}

.place-search div input {
  border: 0em;
  outline: none;
  height: 3.5rem;
  background-color: inherit;
  color: white;
}

.place-search div ::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: white;
}

.place-search div :-ms-input-placeholder {
  font-size: 1.5rem;
  color: white;
}

.place-search div ::-ms-input-placeholder {
  font-size: 1.5rem;
  color: white;
}

.place-search div ::placeholder {
  font-size: 1.5rem;
  color: white;
}

.place-search div input {
  margin-left: 1rem;
  width: 12rem;
}

.place-search i {
  font-size: 3rem;
  color: white;
}

.place-heading {
  left: 10%;
  position: relative;
  line-height: 3rem;
}

.place-heading h2 {
  font-size: 3rem;
  color: white;
  font-weight: 200;
  position: relative;
}

.place-heading h2::after {
  content: "";
  width: 50%;
  height: 4px;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: -50%;
  left: 0;
}

.place-container {
  width: 110%;
  height: 100%;
  position: relative;
  right: 10%;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.place-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 5%;
  overflow: visible;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.place-list-item {
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-width: 40%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.place-list-item a {
  width: 100%;
  height: 100%;
  border: 3px solid #F3EFCC;
  border-radius: inherit;
}

.place-list-item_infor {
  padding-top: 1rem;
  z-index: 2;
  gap: 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.place-list-item_infor p {
  width: 100%;
  word-wrap: break-word;
  font-weight: 700;
}

.place-list-item_infor span {
  color: #09fa45;
}

.place-btn {
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: relative;
}

.place-btn i {
  font-size: 3rem;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 60%;
  background-color: rgba(65, 62, 62, 0.8);
  min-height: 5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contact {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.footer-contact i {
  font-size: 3rem;
  color: white;
}

.footer-design {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-design img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-design p {
  color: white;
}

@media screen and (max-width: 19200px) {
  .menu a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .place {
    gap: 15rem;
  }
  .menu a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .menu a {
    font-size: 1.5rem;
  }
  .place-search {
    gap: 7rem;
  }
  .place-search i {
    font-size: 2rem;
  }
  .place-heading h2 {
    font-size: 2rem;
  }
  .place-list-item_infor p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .menu a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    top: 8%;
  }
}

@media screen and (max-width: 1024px) {
  .menu a {
    font-size: 1rem;
  }
  .place-search {
    gap: 3rem;
  }
  .place-search i {
    font-size: 1.5rem;
  }
  .place-search input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .place-search input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .place-search input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .place-search input::placeholder {
    font-size: 1.5rem;
  }
  .place-heading h2 {
    font-size: 1rem;
  }
  .place-list-item_infor p {
    font-size: 0.8rem;
  }
  .place-btn i {
    font-size: 1.5rem;
  }
  .btn {
    width: 1rem;
    height: 1rem;
  }
  .content-heading {
    margin-bottom: 3rem;
  }
  .content-heading h1:first-child {
    font-size: 2rem;
  }
  .content-heading h1:nth-child(2) {
    font-size: 3rem;
  }
  .content h2 {
    font-size: 1rem;
  }
  .place-list-item {
    min-width: 50%;
    height: 90%;
  }
}
/*# sourceMappingURL=style.css.map */